astroscrappy==1.2.0
astropy==6.1.0
astroquery==0.4.7
llvmlite==0.42.0
matplotlib==3.8.4
numba==0.59.1
numpy==1.26.4
opencv-contrib-python-headless==4.9.0.80
photutils==1.12.0
Pillow==10.3.0
scipy==1.13.0
sep==1.2.1
tbb==2021.10.0
